**LIST**

EXAMPLES OF USING BUILT-IN METHODS

In [ ]:
# Initialize a sample list
my_list = [1,2,3,4,3,5]

# append(x) - Adds an element to the end of the list
my_list.append(6)
print(my_list)

[1, 2, 3, 4, 3, 5, 6]

In [ ]:
# extend(iterable) - Extends the list with elements from another iterable
my_list.extend([7, 8, 9])
print(my_list)

[1, 2, 3, 4, 3, 5, 6, 7, 8, 9]

In [ ]:
# insert(i, x) - Inserts an element at a specified index
my_list.insert(2, 10)
print(my_list)

[1, 2, 10, 3, 4, 3, 5, 6, 7, 8, 9]

In [ ]:
# remove(x) - Removes the first occurrence of an element
my_list.remove(3)
print(my_list)

[1, 2, 10, 4, 3, 5, 6, 7, 8, 9]

In [ ]:
# pop([i]) - Removes and returns an element (default: last element)
popped_element = my_list.pop(2)
print(f"Popped element: {popped_element}")

Popped element: 10

In [ ]:
# clear() - Removes all elements from the list
my_list.clear()
print(my_list)

[]

In [ ]:
# index(x[, start[, end]]) - Returns the index of the first occurrence of an element
my_list = [1, 2, 3, 4, 3, 5]
index = my_list.index(3)
print(f"Index of 3: {index}")

Index of 3: 2

In [ ]:
# count(x) - Returns the number of occurrences of an element
count = my_list.count(3)
print(f"Count of 3: {count}")

Count of 3: 2

In [ ]:
# sort(key=None, reverse=False) - Sorts the list in ascending order
my_list.sort()
print(my_list)

[1, 2, 3, 3, 4, 5]

In [ ]:
# reverse() - Reverses the order of elements
my_list.reverse()
print(my_list)

[5, 4, 3, 3, 2, 1]

In [ ]:
# copy() - Creates a shallow copy of the list
copy_of_list = my_list.copy()
print(copy_of_list)

[5, 4, 3, 3, 2, 1]

In [ ]:
# len(list) - Returns the number of elements in the list
length = len(my_list)
print(f"Length of the list: {length}") # Output: Length of the list: 6

Length of the list: 6

CREATING PYTHON LIST

In [ ]:
list1=[] # creating an empty list
list2=[1,2.4,'abc',(1,2),[6,78,9]] # creating a list of different values
print("The type of",list1,"is:",type(list1))
print("The type of",list2,"is:",type(list2))

The type of [] is: <class 'list'>
The type of [1, 2.4, 'abc', (1, 2), [6, 78, 9]] is: <class 'list'>

SLICING THE LIST IN PYTHON

In [ ]:
list_1=[1,3,5.6,'a',"PythonGeeks",0.4]
print("list_1[2:5] =",list_1[2:5]) # slicing 3rd to 5th element
print("list_1[:] =",list_1[:]) # getting entire list
print("list_1[-5:-2] =",list_1[-5:-2]) # slicing last 5th to 3rd element
print("list_1[3:] =",list_1[3:]) # slicing all elements after 3rd one
print("list_1[-3:] =",list_1[-3:]) # slicing all elements after last 3rd one
print("list_1[:2] =",list_1[:2]) # slicing all elements till 2nd one
print("list_1[:-2] =",list_1[:-2])# slicing all elements till last 2nd one

list_1[2:5] = [5.6, 'a', 'PythonGeeks']
list_1[:] = [1, 3, 5.6, 'a', 'PythonGeeks', 0.4]
list_1[-5:-2] = [3, 5.6, 'a']
list_1[3:] = ['a', 'PythonGeeks', 0.4]
list_1[-3:] = ['a', 'PythonGeeks', 0.4]
list_1[:2] = [1, 3]
list_1[:-2] = [1, 3, 5.6, 'a']

MODIFYING AND DELETING FROM PYTHON LIST

In [ ]:
# Create a list
my_list = [1, 2, 3, 4, 5]
# Modify an element using indexing
my_list[2] = 10
print("After modifying using indexing:", my_list)
# Modify a range of elements using slicing
my_list[1:4] = [20, 30, 40]
print("After modifying using slicing:", my_list)
# Delete an element using indexing
del my_list[2]
print("After deleting using indexing:", my_list)
# Delete a range of elements using slicing
my_list[1:4] = []
print("After deleting using slicing:", my_list)
# Delete the entire list
del my_list
# Now, my_list is no longer defined

After modifying using indexing: [1, 2, 10, 4, 5]
After modifying using slicing: [1, 20, 30, 40, 5]
After deleting using indexing: [1, 20, 40, 5]
After deleting using slicing: [1]

COMMON WAYS TO LOOP THROUGH A LIST

In [ ]:
# Create a sample list
my_list = [1, 2, 3, 4, 5]
# Method 1: Loop through the list and print each element
for item in my_list:
 print(item)
# Method 2: Loop through the list with index using enumerate()
for index, item in enumerate(my_list):
 print(f"Index {index}: {item}")
# Method 3: Loop through the list in reverse order
for item in reversed(my_list):
 print(item)

1
2
3
4
5
Index 0: 1
Index 1: 2
Index 2: 3
Index 3: 4
Index 4: 5
5
4
3
2
1

LIST COMPREHENSION IN PYTHON

In [ ]:
# For example:
# Sample 1:
list1=[1,-2,3,-4,5]
list2=[x**2 for x in list1]
print(list2)
# Sample 2 (with condition):
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = [x if x != "banana" else "orange" for x in fruits]
print(newlist)

[1, 4, 9, 16, 25]
['apple', 'orange', 'cherry', 'kiwi', 'mango']

UNPACKING THE LIST

In [ ]:
emp_info=['Python',5,'Developer']
#List unpacking
skill,exp,role=emp_info
print (skill) #Output:Python
print (exp) #Output:5
print (role) #Output:Developer

Python
5
Developer

USING LIST AS STACK - EXAMPLE

In [ ]:
# Initialize an empty stack to represent the browser history
browser_history = []
# Simulate user browsing by pushing visited pages onto the stack
browser_history.append("Homepage")
browser_history.append("About Us")
browser_history.append("Products")
browser_history.append("Contact Us")
# User clicks the back button
if len(browser_history) > 0:
 current_page = browser_history.pop()
 print("User clicked the back button. Navigating to:", current_page)
# User continues browsing and adds more pages to the history
browser_history.append("FAQs")
browser_history.append("Blog")
# User clicks the back button again
if len(browser_history) > 0:
 current_page = browser_history.pop()
 print("User clicked the back button. Navigating to:", current_page)
# At this point, the browser history would contain ["Homepage", "About Us", "Products", "Contact Us", "FAQs"].

User clicked the back button. Navigating to: Contact Us
User clicked the back button. Navigating to: Blog

USING LIST AS QUEUE

In [ ]:
queue = ['Person 1','Person 2']

# Adding elements to the queue
queue.append('Person 3')

print("\nQueue before:")
print(queue)

# Removing elements from the queue
print("\nElements dequeued from queue : ", queue.pop(0))

print("\nQueue after:")
print(queue)

Queue before:
['Person 1', 'Person 2', 'Person 3']

Elements dequeued from queue :  Person 1

Queue after:
['Person 2', 'Person 3']

**TUPLES**

BUILT-IN METHODS OF TUPLES

In [ ]:
tup=(9,6,'g','Python',7.4)
print(len(tup))
print(tup.index('g'))
print(tup.count('a'))

5
2
0

CREATING TUPLES

In [ ]:
# Create a tuple using round brackets
t1 = (1, 2, 3, 4)
# Create a tuple from a list the tuple() constructor
t2 = tuple([1, 2, 3, 4, 5])
# Create a tuple using the tuple() constructor
t3 = tuple([1, 2, 3, 4, 5, 6])
# Print out tuples
print(f"Tuple t1: {t1}")
print(f"Tuple t2: {t2}")
print(f"Tuple t3: {t3}")

Tuple t1: (1, 2, 3, 4)
Tuple t2: (1, 2, 3, 4, 5)
Tuple t3: (1, 2, 3, 4, 5, 6)

ACCESSING VALUES IN TUPLES

In [90]:
tup1 = ('physics', 'chemistry', 1997, 2000);
tup2 = (1, 2, 3, 4, 5, 6, 7 );
print ("tup1[0]: ", tup1[0])
print ("tup2[1:5]: ", tup2[1:5])

tup1[0]:  physics
tup2[1:5]:  (2, 3, 4, 5)

UPDATING TUPLES

In [ ]:
tup1 = (12, 34.56);
tup2 = ('abc', 'xyz');
# Following action is NOT VALID for tuples
# tup1[0] = 100;
# So let's create a new tuple as follows
tup3 = tup1 + tup2;
print (tup3);

(12, 34.56, 'abc', 'xyz')

DELETE TUPLE ELEMENTS

In [ ]:
tup = ('physics','chemistry', 1997 , 2000);
print (tup);
del tup;
print ("After deleting tup : ");
print (tup);

CHANGING PYTHON TUPLE VALUE BY USING LIST()

In [ ]:
tup=(1,2,3,4,5)
list1=list(tup)
list1[4]=6
tup=tuple(list1)
tup

(1, 2, 3, 4, 6)

TUPLE PACKING AND PACKING

In [ ]:
tup=1,2,3 #packing
print("The type of ",tup,"is:",type(tup))
a,b,c=tup #unpacking
print(a)
print(b)
print(c)

The type of  (1, 2, 3) is: <class 'tuple'>
1
2
3

**DICTIONARY**

BUILT - IN METHODS OF DICTIONARIES - EXAMPLE

In [ ]:
dict1={1:'a',2:'e',3:'i',4:'o',5:'u'}
print(dict1.get(4))
print(dict1.keys())
print(dict1.values())
print(dict1.items())
var1=dict1.pop(2)
print("The value of var1 is:",var1)
var2=dict1.popitem()
print("The value of var2 is:",var2)
dict1.clear()
dict1

o
dict_keys([1, 2, 3, 4, 5])
dict_values(['a', 'e', 'i', 'o', 'u'])
dict_items([(1, 'a'), (2, 'e'), (3, 'i'), (4, 'o'), (5, 'u')])
The value of var1 is: e
The value of var2 is: (5, 'u')

{}

ACCESSING VALUES IN DICTIONARY

In [ ]:
dict = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
print ("dict['Name']: ", dict['Name'])
print ("dict['Age']: ", dict['Age'])

dict['Name']:  Zara
dict['Age']:  7

UPDATING DICTIONARY

In [ ]:
dict = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
dict['Age'] = 8; # update existing entry
dict['School'] = "DPS School"; # Add new entry
print ("dict['Age']: ", dict['Age'])
print ("dict['School']: ", dict['School'])

dict['Age']:  8
dict['School']:  DPS School

DELETE DICTIONARY ELEMENTS

In [ ]:
dict = {'Name': 'Zara', 'Age': 7, 'Class': 'First'}
del dict['Name']; # remove entry with key 'Name'
dict.clear(); # remove all entries in dict
del dict ; # delete entire dictionary
# an exception is raised here because after del dict dictionary does not exist any more :
print ("dict['Age']: ", dict['Age'])
print ("dict['School']: ", dict['School'])

dict['Age']:  dict['Age']
dict['School']:  dict['School']

COMMON WAYS TO LOOPS THROUGH A DICTIONARY

In [96]:
# Creating a sample dictionary
my_dict = {"name": "Alice", "age": 25, "city": "New York"}
# Method 1: Loop through keys and access values
for key in my_dict:
 print(key, "->", my_dict[key])
# Method 2: Loop through keys and values using .items()
for key, value in my_dict.items():
 print(key, "->", value)
# Method 3: Loop through keys using .keys() (less common)
for key in my_dict.keys():
 print(key, "->", my_dict[key])
# Method 4: Loop through values using .values()
for value in my_dict.values():
 print(value)

name -> Alice
age -> 25
city -> New York
name -> Alice
age -> 25
city -> New York
name -> Alice
age -> 25
city -> New York
Alice
25
New York

In [ ]:
# Creating a sample dictionary
my_dict = {"name": "Alice", "age": 25, "city": "New York"}
# Method 1: Loop through keys and access values
for key in my_dict:
 print(key, "->", my_dict[key])
# Method 2: Loop through keys and values using .items()
for key, value in my_dict.items():
 print(key, "->", value)
# Method 4: Loop through values using .values()
for value in my_dict.values():
 print(value)

name -> Alice
age -> 25
city -> New York
name -> Alice
age -> 25
city -> New York
Alice
25
New York

**SET**

CREATING A SET

In [ ]:
Days=set(["Mon","Tue","Wed","Thu","Fri","Sat","Sun"])
Months={"Jan","Feb","Mar"}
Dates={21,22,17}
print(Days)
print(Months)
print(Dates)

{'Sat', 'Fri', 'Wed', 'Thu', 'Tue', 'Mon', 'Sun'}
{'Feb', 'Jan', 'Mar'}
{17, 21, 22}

ACCESSING VALUES IN A SET

In [ ]:
Days=set(["Mon","Tue","Wed","Thu","Fri","Sat","Sun"])
for d in Days:
 print(d)

Sat
Fri
Wed
Thu
Tue
Mon
Sun

ADDING & REMOVING ITEMS TO A SET

In [ ]:
Days=set(["Mon","Tue","Wed","Thu","Fri","Sat"])
Days.add("Sun")
print(Days)

{'Sat', 'Fri', 'Wed', 'Thu', 'Tue', 'Mon', 'Sun'}

In [ ]:
Days=set(["Mon","Tue","Wed","Thu","Fri","Sat"])
Days.discard("Sun")
print(Days)

{'Sat', 'Fri', 'Wed', 'Thu', 'Tue', 'Mon'}

UNION, INTERSECTION, AND DIFFERENCE OF SETS

In [ ]:
DaysA = set(["Mon","Tue","Wed"])
DaysB = set(["Wed","Thu","Fri","Sat","Sun"])
print(DaysA|DaysB) # equals with print(DaysA.union(DaysB))
print(DaysA & DaysB) # equals with print(DaysA.intersection(DaysB))
print(DaysA - DaysB) # equals with print(DaysA.difference(DaysB)

{'Sat', 'Fri', 'Wed', 'Thu', 'Tue', 'Mon', 'Sun'}
{'Wed'}
{'Mon', 'Tue'}

**CHOOSING DATA STRUCTURES**

USING LIST OF TUPLES

In [ ]:
employee_list = [(12345, "John", "Kitchen"), (12458, "Paul", "House Floor")]
def get_employee(id):
  for employee in employee_list:
    if employee[0] == id:
      return {"id": employee[0], "name": employee[1], "department": employee[2]}
print(get_employee(12458))

{'id': 12458, 'name': 'Paul', 'department': 'House Floor'}

USING DICTIONARY

In [ ]:
employee_dict = {
 12345: {
 "id": "12345",
 "name": "John",
 "department": "Kitchen"
 },
 12458: {
 "id": "12458",
 "name": "Paul",
 "department": "House Floor"
 }
}
def get_employee_from_dict(id):
 return employee_dict[id];
print(get_employee_from_dict(12458));

{'id': '12458', 'name': 'Paul', 'department': 'House Floor'}